*{
    margin:0;
    padding: 0;
}
#tab{
    margin: 0 auto;
    width: 1200px;
    height: 1200px;
    border: 1px solid pink;
    position: relative;
}
.small-box img{
    width: 80px;
    height: 80px;
    border: 1px solid blueviolet;
}
.mid-box{
    border: 1px solid pink;
    width: 450px;
    height: 450px;
    background: url("../example/md/md1.jpg") no-repeat;
}
.small-box{
    display: flex;
    width: 450px;
    justify-content: space-around;
    border: 1px solid pink;
}
.big-box{
    height: 800px;
    width: 800px;
    position: absolute;
    top:0;
    left: 800px;
    border:1px solid pink;
    background: url("../example/lg/lg1.jpg") no-repeat;
    display: none;
}




