*{
  margin:0px;
  padding:0px;
}
body{
  background:#f5f5f5;
}
/*--header--*/

.header{
  background:#f2f2f2;
  height:36px;
}
.header_inner{
  margin:0 auto;
  width:1200px;
  display:flex;
  justify-content:space-between;
  line-height:36px;
}
.header_right ul{
  list-style:none;
  display:flex;
  justify-content:space-around;
}
.header_right ul li{
  padding:0 25px;
}
.header_right ul li img{
  vertical-align:middle;
  margin-right:6px;
}
.header a{
  text-decoration:none;
}
.header_right ul li:nth-child(3)>a,.header_right ul li:nth-child(4)>a{
  text-decoration: none;
  color: #8c8c8c;
}
.header_right ul li:nth-child(3):hover{
  padding:0 25px;
  background: white;
}
.header_right ul li:nth-child(4):hover{
  padding:0 25px;
  background: white;
}
/*--logo--*/

.logo_inner{
  margin:36px auto;
  width:1200px;
  display:flex;
  list-style:none;
  justify-content:space-between;
}
.logo{
  border-bottom:2px solid orange;
  margin-top: 30px;
}
.logo ul li input{
  width:375px;
  height:36px;
  border: 2px solid orange;
  vertical-align:bottom;
  padding-left:8px;
}
.logo_btn{
  width:90px;
  height:40px;
  border:none;
  background:orange;
  text-align:center;
  font-size:18px;
  color:#8c8c8c;
  cursor: pointer;
}
.logo_inner li a{
  text-decoration:none;
  margin-right:6px;
}
.logo_inner li a:hover{
  color:#2196F3;
}
/*    logo_buttom  */
.logo_buttom{
  width: 1200px;
  margin: 0 auto;
}
.logo_buttom>div{
  width: 190px;
  height: 34px;
  background:#ffb000;
  line-height: 34px;
}
.logo_buttom>div>img{
  margin: 0 10px;
}
.logo_buttom>div>span{
  color: #4d4d4d;
}
/*--logo--*/

.logo_inner{
  margin:0 auto;
  width:1200px;
  display:flex;
  list-style:none;
  justify-content:space-between;
}
.logo{
  border-bottom:2px solid orange;
}
.logo ul li input{
  width:375px;
  height:36px;
  border: 2px solid orange;
  vertical-align:bottom;
  padding-left:8px;
}
.logo_btn{
  width:90px;
  height:40px;
  border:none;
  background:orange;
  text-align:center;
  font-size:18px;
  color:#8c8c8c;
  cursor: pointer;
}
.logo_inner li a{
  text-decoration:none;
  margin-right:6px;
}
.logo_inner li a:hover{
  color:#2196F3;
}


